<div class="row">
    <div class="box vcenter-parent">
        <div class="col-md-6 text-center vcenter">
            <hr>
            <h2 class="brand-before">
                <small>The wedding of</small>
            </h2>
            <h1 class="brand-name">Miles Crawford<br>&amp;<br>Karin Kubischta</h1>
            <hr>
        </div>
        <div class="col-md-6 vcenter">
            <img class="img-responsive img-border" src="img/lavendar.jpg"/>
        </div>
    </div>
</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Come <strong>celebrate</strong> with us</h2>
            <hr>
        </div>
        <div class="col-md-6">
<p><strong>When</strong></p>
            <p>The weekend of August 25th through 27th, 2017.</p>
            <p>A welcoming dinner will be held on Friday night.</p>
<p>The ceremony will begin at 4:00pm on Saturday, with reception to follow. </p>
<p>Breakfasts and outings the whole weekend!</p>
        </div>

        <div class="col-md-6">
<p><strong>Where</strong></p>
<p>
All events will be held on the grounds of:
</p>
            <p>
<a href="https://goo.gl/maps/qf9QSGW7DKL2" target="_blank">
            Sleeping Lady Resort<br>
            7375 Icicle Road<br>
            Leavenworth, WA. 98826</a>
            </p>
        </div>


<div class="clearfix"></div>

<hr>
        <div class="col-lg-12 text-center">
            <p>Please <a ui-sref="rsvp">RSVP</a> and <a ui-sref="accommodations">reserve your room</a> before May 2017.</p>
        </div>
    </div>
</div>

<!-- Photo panel example in case we want it
<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">More <strong>Photos</strong>
            </h2>
            <hr>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            <h3>John Smith
                <br>
                <small>Job Title</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            <h3>John Smith
                <br>
                <small>Job Title</small>
            </h3>
        </div>
        <div class="col-sm-4 text-center">
            <img class="img-responsive" src="http://placehold.it/750x450" alt="">
            <h3>John Smith
                <br>
                <small>Job Title</small>
            </h3>
        </div>
        <div class="clearfix"></div>
    </div>
</div> -->
